aside.main-sidebar
	section.sidebar
		.user-panel
			.pull-left.image
				img(src='/adminlte/dist/img/user2-160x160.jpg',alt='User Image').img-circle
			.pull-left.info
				p Admin
				a(href='#')
					i.fa.fa-circle.text-success
					| En linea.
					
		ul.sidebar-menu
			li.header
				| Acciones
			li.treeview
				a(href='#')
					i.fa.fa-dashboard
					span
						| Listas
					span.pull-right-container
						i.fa.fa-angle-left.pull-right
				ul.treeview-menu
					li
						a(href='#')
							i.fa.fa-circle-o
							| Usuario
					li
						a(href='#')
							i.fa.fa-circle-o
							| Clientes
					li
						a(href='#')
							i.fa.fa-circle-o
							| Zonas
					li
						a(href='#')
							i.fa.fa-circle-o
							| Notificaciones
					li
						a(href='#')
							i.fa.fa-circle-o
							| Cepas

			li.treeview
				a(href='#')
					i.fa.fa-pie-chart
					span
						| Monitoreo
					span.pull-right-container
						i.fa.fa-angle-left.pull-right
				ul.treeview-menu
					li
						a(href='#')
							i.fa.fa-circle-o
							| Temperatura y Humedad
					li
						a(href='#')
							i.fa.fa-circle-o
							| Estadisticas
					li
						a(href='#')
							i.fa.fa-circle-o
							| Reportes

			li.treeview
				a(href='#')
					i.fa.fa-laptop
					span
						| Cosas
					span.pull-right-container
						i.fa.fa-angle-left.pull-right
				ul.treeview-menu
					li
						a(href='#')
							i.fa.fa-circle-o
							| Relleno General
